<%= form_for(@placepicture) do |f| %>
  <% if @placepicture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@placepicture.errors.count, "error") %> prohibited this placepicture from being saved:</h2>

      <ul>
      <% @placepicture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
